process {
      withName: NEXTCLADE_DATASETGET {
          container = 'quay.io/biocontainers/nextclade:2.4.0--h9ee0642_0'
      }
      withName: NEXTCLADE_RUN {
      container = 'quay.io/biocontainers/nextclade:2.4.0--h9ee0642_0'
      }
      withName: PANGOLIN {
      container = 'quay.io/staphb/pangolin:4.1.2-pdata-1.13'
      }
}